{% extends 'quiz/base.html' %}

{% block content %}
    <div class="p-5 border bg-light" style="">
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}

            <table class="table">
                {{ quizquestion.management_form }}

                {% for form in quizquestion.forms %}
                <table class="table">
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                        {% for field in form.visible_fields %}
                            <td>
                                {{ field }}
                            </td>
                        {% endfor %}
                </table>
            </table>
            {% endfor %}
        </form>
        <input class="btn btn-primary btn-md" type="submit" value="Save"/>
        <a class="btn btn-link" href="{% url 'quiz:index' %}">Back to the list</a>
    </div>
{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add family member',
        deleteText: 'remove',
        prefix: 'familymember_set'
    });
</script>
