{% extends 'quiz/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy}}
        <br>

        {{ quizquestion.management_form }}

        {% for form in quizquestion.forms %}
            {{ form|crispy }}
            <br/>
        {%  endfor %}

        <input class="btn btn-primary btn-md" type="submit" value="Save"/>
        <a class="btn btn-link" href="{% url 'quiz:index' %}">Back to the list</a>
    </form>
    <br>
{% endblock %}
