{% extends 'quiz/base.html' %}

{% block content %}
    <h2> {{ object.name }} </h2>
    <a href="{% url 'quiz:edit' object.id %}" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Edit </a>
    <a href="{% url 'quiz:delete' object.pk %}" class="btn btn-outline-danger btn-sm">Delete </a>

    <form action="." method="post">
        <br>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-lg btn-block" type="submit">Done</button>
    </form>

    <br>
{% endblock %}
